/* add your CSS here */

/* .debug { border: 1px solid red; } */

.font {
    font-family: sans-serif;
}

.card-width {
    width: 300px;
}

.my-italic {
    font-style: italic;
}

.my-bold {
    font-weight: bold;
}

.my-shadow {
    box-shadow: 0px 20px 20px gray;
}

.my-padding {
    padding: 20px;
}

.my-inline {
    display: table;    
}

.my-card-border {
    border: 1px solid grey;
    border-radius: 5px;
}

.no-shadow {
    box-shadow: 0px 0px 0px #FFFFFF;
}

.my-margin {
    margin-left: auto;
    margin-right: auto;
}

.my-container {
    height: 250px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-list-style {
    list-style: none;
    font-style: italic;
}

.no-italic {
    font-style: normal;
}